<%-include("partials/header")%>
<link rel="stylesheet" href="css/index.css">
<div class="container gButton text-center">
  <a class="regLink" href="/registration"><button class="btn rounded-pill btn-lg">Register Patient</button></a>
  <a class="regLink" href="/patientDisplay"><button class="btn rounded-pill btn-lg">View Patient Details</button></a>
  <a class="regLink" href="/registration"><button class="btn rounded-pill btn-lg">View Doctor Details</button></a>
</div>
<section class="container text-center">
  <img class=" img img-fluid" src="images/corona.jpg" alt="stay safe">
</section>

<%-include("partials/footer")%>
