<%-include("partials/header")%>
    
      <link rel="stylesheet" href="css/registration.css">
  <div class="container regMainDiv ">
    <h1>REGISTRATION</h1>
    <form class="" action="/registration" method="post">
    <div class="container-fluid personalDiv">
      <hr>
      <h4>PERSONAL DETAILS OF PATIENT</h4>
      <hr>
      <div class="container topPersonalDiv">
      <label for="nameInput">Full Name:</label>
      <input type="text" id="nameInput" name="userNameInput" required />
      <label for="mobileNoInput">Mobile number:</label>
      <input type="text" id="ccInput" name="userCcInput" value="" required />
      <input type="text" name="userMobNoInput" value="" id="mobileNoInput">
      <div class="container addressDiv">
        <label for="userAddress" class="addressInput">Address:</label>
        <textarea name="userAddressInput" rows="3" class="addressInput" cols="40" required /></textarea>
      </div>
      </div>
      <div class="container-fluid midPersonalDiv">
      <label for="userCountry">Country:</label>
      <input type="text"  id="userCountry" name="userCountryInput" required />
      <label for="userState">State:</label>
      <input type="text" id="userState" name="userStateInput" required />
      </div>
      <div class="container-fluid bottomPersonalDiv">
      <label for="cityInput">City:</label>
      <input type="text" id="cityInput" name="userCityInput" value="" style="width:15rem;" required />
      <label for="zipInput" class="zipInput">Zip code:</label>
      <input type="number" id="zipInput" name="userZipInput" value="" pattern="^\d{5}(?:[-\s]\d{4})?$"/>
      </div>
    </div>
    <div class="container-fluid otherPersonalDiv">
      <hr>
      <h4>OTHER DETAILS OF PATIENTS</h4>
      <hr>
      <div class="container topPersonalDiv">
      <label for="genderInput">Gender:</label>
      <input class="form-check-input" type="radio" value="Male" name="userGenderInput" id="userMale" />
      <label class="form-check-label" for="userMale">Male</label>
      <input class="form-check-input" type="radio" value="Female" name="userGenderInput" id="userFemale" />
      <label class="form-check-label" for="userFemale">Female</label>
      <input class="form-check-input" type="radio" value="Others" name="userGenderInput" id="userOthers" />
      <label class="form-check-label" for="userOthers">Others</label>
      <label for="dobInput" id="dob">Date of Birth:</label>
      <input type="date" name="userDobInput" value="" id="dobInput" required />
      </div>
      <div class="container-fluid midPersonalDiv">
      <label for="userBgroup">Blood group:</label>
      <select class="form-control" id="userBgroup" name="userBgroupInput" required />
      <option>A+</option>
      <option>A-</option>
      <option>B+</option>
      <option>B-</option>
      <option>AB+</option>
      <option>AB-</option>
      <option>O+</option>
      <option>O-</option>
      </select>
      <label for="marital" id="mstatus">Marital Status:</label>
      <input class="form-check-input" type="radio"  value="Single" name="userStatusInput" id="userSingle"/>
      <label class="form-check-label" for="userSingle">Single</label>
      <input class="form-check-input" type="radio" value="Married" name="userStatusInput" id="userMarried"/>
      <label class="form-check-label" for="userMarried">Married</label>
      </div>
      <div class="container-fluid bottomPersonalDiv">
      <label for="userInsurance">Insurance Number:</label>
      <input type="text" id="userInsurance" name="userInoInput" value=""/>
      <label for="userExpDate" id="expDt">Expiary Date:</label>
      <input type="date" name="userExpDateInput" value="" id="userExpDate" />
    </div>
  </div>
  <hr>
    <button type="submit" name="buttonSubmit" class="btn btn-primary" id="regBtn" >Register</button>
  </div>
  </form>

<%-include("partials/footer")%>
