
body{
  font-family: 'Merriweather', serif;
}
.gButton
{
  margin-top: 2rem;

}

.btn{
  border: solid #6e7c7c 4px;
  margin:2rem 4rem;
}

.btn:hover{
  background-color: #097a7a;
  color:white;
}
.regLink{
  color:black;
  text-decoration: none;
}
.regLink:hover{
  color:white;
}

.img{
  margin-top: 1rem;
}
